RewriteEngine on
RewriteBase /

RewriteCond %{HTTP_ACCEPT} ^.*text/turtle.* [OR]
RewriteCond %{HTTP_ACCEPT} ^.*application/turtle.*
RewriteRule ^terms$ http://rdf-translator.appspot.com/convert/rdfa/turtle/https://apps.rhiaro.co.uk/foodulator/terms [L]

RewriteCond %{HTTP_ACCEPT} ^.*application/ld\+json.* [OR]
RewriteCond %{HTTP_ACCEPT} ^.*application/json.*
RewriteRule ^terms$ http://rdf-translator.appspot.com/convert/rdfa/json-ld/https://apps.rhiaro.co.uk/foodulator/terms [L]

RewriteRule ^terms$ terms.html